/* =========== HERO SECTION =========== */

header{
    background: #DEECEC;
    position: relative;
}
.head_section{
    display: flex;
    gap: 4rem;
    position: absolute;
    z-index: 999;
}
.head_titil{
    width: 60%;
}
.head_titil > h4{
    margin-top: 17.3rem;
}
.head_titil > h1{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: var(--black-color);
    margin: 1.5rem 0;
}
.head_titil > button{
    margin-top: 2.5rem;
    margin-bottom: 10rem;
}
.head_titil > button:hover{
    color: var(--text-bg-color);
    background: #DEECEC;
    border: 2px solid var(--text-bg-color);
}
.head_img{
    width: 40%;
    margin-top: 4.5rem;
}
.head_img > img{
    width: 100%;
}
.bg_img{
    width: 1440px;
    height: 750px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
.bg_img > img:first-child{
    position: absolute;
    top: -8.5rem;
}
.bg_img > img:last-child{
    position: absolute;
    top: 7.8rem;
    right: 18rem;
}